@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>未授权</title>
    <link href="~/src/vendor/metronic/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/src/vendor/metronic/css/components.css" rel="stylesheet" />
    <link href="~/src/vendor/metronic/css/error.css" rel="stylesheet" />
</head>
<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number">
                401
            </div>
            <div class="details">
                <h3>没有权限！</h3>
                <p>
                    您当前的账号未被授权访问当前站点。如有疑问，请联系管理员。<a href="/Home/Logout">退出</a>
                </p>
            </div>
        </div>
    </div>

    <!-- END BODY -->
</body>
</html>
