<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="dbConStr" connectionString="Data Source=(local);Initial Catalog=VCAN_Template;User ID=sa;Password=123qwe!@#QWE;Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container name="real">
      <extension type="Interception" />
      <register type="Wikitec.Repository.DataContext,Wikitec.Repository">
        <lifetime type="Wikitec.Infrastructure.Mvc.PerExecutionContextLifetimeManager, Wikitec.Infrastructure" />
        <constructor>
          <param name="nameOrConnectionString" value="dbConStr" />
        </constructor>
      </register>
      <register type="Wikitec.Infrastructure.Data.IUnitOfWork, Wikitec.Infrastructure" mapTo="Wikitec.Repository.UnitOfWork, Wikitec.Repository" />
      <register type="Wikitec.Infrastructure.Mvc.Authorization.IAuthorizeAttributeHelper, Wikitec.Infrastructure" mapTo="Web.Portal.Toolkits.AuthorizeHelper,Web.Portal" />
      <!--注册IAppSession的实现-->
      <register type="Wikitec.Infrastructure.Runtime.Session.IAppSession,Wikitec.Infrastructure" mapTo="Web.Portal.Toolkits.AppSession, Web.Portal" />
      <!--ICache-->
      <register type="Wikitec.Infrastructure.Cache.ICache, Wikitec.Infrastructure" mapTo="Wikitec.Infrastructure.Cache.Runtime.RuntimeCache,  Wikitec.Infrastructure" />
      <!--注册系统设置相关-->
      <register type="Wikitec.Domain.Systems.IRepository.ISysUserRepository, Wikitec.Domain" mapTo="Wikitec.Repository.Repositories.Systems.SysUserRepository, Wikitec.Repository" />
      <register type="Wikitec.Domain.Systems.IRepository.ISysFuncRepository, Wikitec.Domain" mapTo="Wikitec.Repository.Repositories.Systems.SysFuncRepository, Wikitec.Repository" />
      <register type="Wikitec.Domain.Systems.IRepository.ISysRoleRepository, Wikitec.Domain" mapTo="Wikitec.Repository.Repositories.Systems.SysRoleRepository, Wikitec.Repository" />
      <register type="Wikitec.Domain.Systems.IRepository.ISysUserRoleRepository, Wikitec.Domain" mapTo="Wikitec.Repository.Repositories.Systems.SysUserRoleRepository, Wikitec.Repository" />
      <register type="Wikitec.Domain.Systems.IRepository.IListOptionRepository, Wikitec.Domain" mapTo="Wikitec.Repository.Repositories.Systems.ListOptionRepository, Wikitec.Repository" />
    </container>
  </unity>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--weiapi接口访问路径-->
    <add key="webapiurl" value="http://ims.vcansenior.com/" />
    <!--DomainStr-->
    <add key="DomainStr" value=".vcansenior.com" />
    <!--日志设置
    <add key="rabbitmq_hostname" value="10.45.239.30" />
    <add key="rabbitmq_sysalias" value="template" />-->
  </appSettings>


  <system.web>

    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="http://ims.vcansenior.com/account/login" timeout="120" name="sso.vcansenior.com" domain="vcansenior.com" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  <handlers><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers></system.webServer>
</configuration>
